/* CSS Document */
*, *::after, *::before {
    padding: 0;
    margin: 0;
  box-sizing:border-box;  
}
/* variables*/
:root{
    --white: rgb(255 255 255);
    --black: rgb(0 0 0);
    --gray: rgb(238 238 238);
    --green: rgb(0 221 0);
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

/*nav bar*/
header {
    display: flex; 
    position: sticky;
    top: 0;
    width:auto;
    z-index:1;
    background-color:  rgba(0,0,0,.5);
}

/* logo  */
header section img{
    width: 5.5em;
    height: 2.2em;
    padding: 1.5px;
    margin: 0 0 0 10px;
 }
/* container EN button  */
header section {
    width: 100%; 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

header section button p{
    color:var(--white);
    font-size: 12px;
}
  
  /* styling van EN button */
  header section button{
    width: 70px;
    height:40px;
    display:flex;
    justify-content: right;
    gap:0.5em;
    align-items:center;
    border-radius: 12px;
    border: 1px solid var(--white);
    background-color:transparent;
    padding: 8px;
    margin: 0 0 0 16px;
  }
  /* amerikaanse vlag */
  header section button img{
    width: 28px;
    height:28px;
    border-radius:50%;
  }

  /* container van dropdown, 1ste unorderd list */
  header section>ul {
    width:300px;
    height:431px;
    padding:24px 32px;
    border-radius:16px;
    background-color:var(--white);
    list-style:none;
    margin: 40px 0 0 0;
    display: none;
  }

  /* show dropDownlist */
  header section>ul.anders {
    display: block;
  }
  /* kopjes in dropdown lijst */
  header section>ul li p{
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: inherit;
    
  }

  /* unorderd list in de eerste unorderd list */
  header section>ul ul {
   
    list-style:none;
    width:240px;
    height:300px;
    
    overflow:scroll;
    scroll-snap-type: y mandatory;
      
    scroll-behavior:smooth;
  
  }
  /*align redio button met language*//*list items van 1e ul in ul, language button styling*/
  header section>ul ul li {
    display:flex;
    padding:8px 0 8px 0;
    align-items: center;
  }

  /* styling radio button region */
  /* radio button hide  */
  header section>ul ul li input[type="radio"]{
  opacity: 0;
  position: fixed;
  width: 0;
  }
/* selected region styling  */
header section>ul ul li input[type="radio"]:checked + label {
    color: var(--green);
  } 
header section>ul ul li label {
   display:block;
  } 
  /* styling images van list items 1e ul in ul */
  header section>ul ul li img{
    width:24px;
    height:24px;
    border-radius:50%;
    margin-right:0.5em;
  }
  /* itemst in label van 1e ul in ul */
  header section>ul ul li label{
    display:flex;
    align-items:center;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:100;
    font-size: 14px;
    color: var(--black);
  }
 
  /* 2e ul in de ul, select your language */
  header section>ul ul:nth-of-type(2){
    display:flex;
    gap: 1.5em;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
      
    scroll-behavior:smooth;
    
  }
  /* styling list items van 2e ul in ul  */
  header section>ul ul:nth-of-type(2) li{
    display:inline-block;
    list-style:none;
  }
  
  header section:first-of-type>ul ul:nth-of-type(2) a{
    text-decoration:none;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:100;
    font-size: 14px;
  }
  /* selected language styling  */
  header section:first-of-type>ul ul:nth-of-type(2) a:hover{
    color: var(--green);
  }
  
/* hamburger menu  */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    margin: 0 16px 0 0;
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 3px;
    position: relative;
    width: 22px;
} 
/* hamburgerlijn voor aanklikken*/

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
/* hoe ver de bovenste lijn van de middelste staat */
.hamb-line::before{
    top: 0.5em;
}
/* hoe ver de onderste lijn van de middelste staat */
.hamb-line::after{
    top: -0.5em;
}
/* verberg checkbox */
.side-menu {
    display: none;
} 
/* als het menu wordt aangeklikt gaat de nav over de hele pagina*/
.side-menu:checked ~ nav{
    max-height: 100%;
}

/* middelste streep in menu wordt transperant als menu is aangeklikt */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
/* wanneer menu aangeklikt gaat onderste streep -45graden draaien */
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
    
}

/* wanneer menu aangeklikt gaat bovenste streep -45graden draaien */
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* side menu uitgeklapt */
header nav{
    width: 100%;
    height: 100%;
    position: fixed; 
    background-color: var(--white);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    top:80px; 
    padding: 0 24px;
}  

header nav ul{
    list-style: none;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1.875em;
  
}
header nav ul li a{
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 0 1.5em 0 0;
    margin-top: 1.25em;
    color: var(--black);
}
header nav ul li a:hover{
    background-color: var(--gray);
    border-bottom: 1px solid var(--gray);
    transition: .5s;
}

@media (min-width: 1024px){.side-menu:checked ~ nav{
   background-color: transparent;
   max-height: none;
}
}

@media (max-height: 375px){header nav ul{
    font-size: 1em;
 }
 }
/* download button  */
header nav>a{
    width: auto;
    position:absolute;
    margin-top: 9.988em;
    margin-bottom: 3em;
    padding: 10px 24px;
    background-color: var(--green);
    font-size: 12px;
    color: var(--black);
    border-radius: 25px;
    border: 1px solid var(--green);
    text-decoration: none;
    font-family: Poppins, Helvetica, sans-serif;
}
@media (max-height: 375px){header nav>a{
    margin-top: 1em;
 }
 }
/*responsive menu*/
@media (min-width: 1024px){ header nav>a {
width: 11em;
position: relative;
left: auto;
padding: 12px 24px;
font-size: 14px;
margin: 1.25em 0 0 0 ;
}
}
@media (min-width: 1024px){ header nav{
    width: auto;
    display: flex;
    position:relative;
    top: 1.5em;
    overflow: visible;
    align-items: center;
    justify-content: space-between;
}
}

/* hide hamburger menu icon  */
@media (min-width: 1024px){ .hamb{
position: absolute;
margin-left: -9999px ;

}
}

@media (min-width: 1024px){ header nav ul{
    height: 7em;
    width: 19.8em;
    display: flex;
    gap: 1em;
    flex-direction: row;
    left:10.7em;
    align-items: center;
}
}


@media (min-width: 1024px){ header nav ul li a{
color: var(--white);
font-size: 16px;

}
}

@media (min-width: 1024px){ header>a{
top: 0;
left: 2.375em;

}
}
/* footer container */
footer{
    background-color:var(--black);
    padding: 4em 1.5em 2.5em 1.5em;
}

@media (min-width: 1024px){ footer nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}}

/* container 2e ul in nav  */
footer nav>ul:nth-of-type(2){
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 2em;
    margin-bottom: 6em;
    gap: 0.75em;
}
/* logo image style  */
footer nav>a img{
    width:6em;
    height:2.133em;
    margin-bottom:3.5em ;
}
@media (min-width: 1024px){ footer nav>a{
    width: 10em;
    height: auto; 
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0;
    padding: 0;
}}

  /* container van 1e nav deel*/
footer nav>ul:first-of-type{
  width: auto;
  height: auto;
  margin-top: 1.5em;
  list-style:none;
  }
@media (min-width: 1024px){ footer nav>ul{
display: flex;
  }}
  /* container van paragraaf en pijl */
footer nav>ul:first-of-type li div{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 1.25em 0 0;
  }
  @media (min-width: 1024px){ footer nav>ul li {
    padding: 0;
     }}
  /* button pijl*/
.arrow{
   border: solid white;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 4px;
   background-color:transparent;
   transform: rotate(-135deg);
  }
  @media (min-width: 667px){ .arrow {
    border-width: 0 4px 4px 0;
    padding: 8px;
  }}
  @media (min-width: 1024px){ .arrow {
   position:absolute;
   left: -999px;
  }}
/* .rotate{
    transform: rotate(45deg);
	transition: 0.5s;

} */
/*uitgeklapte lijst*/ /*lijst laten zien door display none te verwijderen*/
footer nav>ul:first-of-type li ul{
    width:327px;
    height: auto;
    display:flex;
    flex-direction:column;
    gap:1em;
  }
  @media (min-width: 1024px){footer nav>ul:first-of-type li ul{
    width:10em;
    align-items: left;
  }}
  /* styling van linkjes in uitgeklapte lijst */
footer nav>ul:first-of-type li ul li a{
    list-style:none;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size:16px;
    color:gray;
    text-decoration:none;
}

/*hide van lijst*/
footer nav>ul:first-of-type li ul.show{
    display:none;
  }

footer nav>ul:first-of-type>li{
    padding: 0 0 1.5em;
    
}

/* hoofdkopjes in 1e deel van nav  */
footer nav>ul li div p, 
footer nav>ul:first-of-type li a{
font-size: 30px;
font-family: Poppins, Helvetica, sans-serif;
font-weight: 200;
color: var(--white);
text-decoration: none;
}

@media (min-width: 1024px){
     footer nav>ul:first-of-type>li:nth-of-type(4) a,
     footer nav>ul:first-of-type>li:nth-of-type(5) a, 
     footer nav>ul:first-of-type>li:nth-of-type(6) a {
display: flex;
position: relative;
margin-top: 0.5em;
font-size: 1.25em;
width: 8em;
}}


/* social media images style  */
footer nav>ul:nth-of-type(2) li a img{
    width: 2em;
    height:2em;
}
@media (min-width: 1024px){footer nav>ul:nth-of-type(2) li a img{
    width: 3em;
    height: 3em;
 }
 }
@media (min-width: 1024px){footer nav>ul:nth-of-type(2){
    grid-column-start: 2;
    grid-row-start: 2;
    gap: 2em;
    margin: 0;
    height: 5em;
}
}

/* 2022 Lime styling */
footer nav>p {
    color: var(--white);
    padding:0 0 0.5em;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
}
@media (min-width: 1024px){footer nav>p {
   padding: 3em 0 0 0;
   font-size: 1em;
}
}
/* linkjes cluster onderaan de pagina container  *//* 3e ul in nav*/
footer nav>ul:nth-of-type(3){
    width:327px;
    height:102px;
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    gap: 1em;
}
@media (min-width: 1024px){footer nav>ul:nth-of-type(3){
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    gap: 2em;
}
}
/* stijlen van list items  */
footer nav>ul:nth-of-type(3) li{
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
}
/* linkjes stijlen in 3e ul */
footer nav>ul:nth-of-type(3) li a{
    margin-top: 1em;
    margin-right: 1.5em;
    text-decoration: none;
    color: white;
}