/* CSS Document */
*, *::after, *::before {
    padding: 0;
    margin: 0;
  box-sizing:border-box;  
}
/* variables*/
:root{
    --white: rgb(255 255 255);
    --black: rgb(0 0 0);
    --gray: rgb(238 238 238);
    --green: rgb(0 221 0);
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap');

/*nav bar*/
header {
    display: flex; 
    position: sticky;
    top: 0;
    width:auto;
    z-index:1;
}
/* logo  */
header section img{
    width: 5.5em;
    height: 2.2em;
    padding: 1.5px;
    margin: 0 0 0 10px;
 }
/* container EN button  */
header section {
    width: 100%; 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

header section button p{
    color:var(--white);
    font-size: 12px;
}
  
  /* styling van EN button */
  header section button{
    width: 70px;
    height:40px;
    display:flex;
    justify-content: right;
    gap:0.5em;
    align-items:center;
    border-radius: 12px;
    border: 1px solid var(--white);
    background-color:transparent;
    padding: 8px;
    margin: 0 0 0 16px;
  }
  /* amerikaanse vlag */
  header section button img{
    width: 28px;
    height:28px;
    border-radius:50%;
  }

  /* container van dropdown, 1ste unorderd list */
  header section>ul {
    width:300px;
    height:431px;
    padding:24px 32px;
    border-radius:16px;
    background-color:white;
    list-style:none;
    margin: 40px 0 0 0;

    display: none;
  }

  /* show dropDownlist */
  header section>ul.anders {
    display: block;
  }
  /* kopjes in dropdown lijst */
  header section>ul li p{
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: inherit;
    
  }

  /* unorderd list in de eerste unorderd list */
  header section>ul ul {
   
    list-style:none;
    width:240px;
    height:300px;
    
    overflow:scroll;
    scroll-snap-type: y mandatory;
      
    scroll-behavior:smooth;
  
  }
  /*align redio button met language*//*list items van 1e ul in ul, language button styling*/
  header section>ul ul li {
    display:flex;
    padding:8px 0 8px 0;
    align-items: center;
  }

  /* styling radio button region bron:https://css-tricks.com/almanac/selectors/c/checked/ */
  /* radio button hide  */
  header section>ul ul li input[type="radio"]{
  opacity: 0;
  position: fixed;
  width: 0;
  }
/* selected region styling  */
/* header section>ul ul li input[type="radio"]:checked + label {
    color: #f00;
    font-style: normal;
  }  */
  header section>ul ul li label:hover {
    color: var(--green);
  } 
  /* styling images van list items 1e ul in ul */
  header section>ul ul li img{
    width:24px;
    height:24px;
    border-radius:50%;
    margin-right:0.5em;
  }
  /* itemst in label van 1e ul in ul */
  header section>ul ul li label{
    display:flex;
    align-items:center;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:100;
    font-size: 14px;
    color: var(--black);
  }
 
  /* 2e ul in de ul, select your language */
  header section>ul ul:nth-of-type(2){
    display:flex;
    gap: 1.5em;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
      
    scroll-behavior:smooth;
    
  }
  /* styling list items van 2e ul in ul  */
  header section>ul ul:nth-of-type(2) li{
    display:inline-block;
    list-style:none;
  }
  
  header section:first-of-type>ul ul:nth-of-type(2) a{
    text-decoration:none;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:100;
    font-size: 14px;
  }
  /* selected language styling  */
  header section:first-of-type>ul ul:nth-of-type(2) a:hover{
    color: var(--green);
  }
/* hamburger menu  */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    margin: 0 16px 0 0;
}
 /* Style span tag */
 .hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    
}

.hamb-line {
    background: var(--white);
    display: block;
    height: 3px;
    position: relative;
    width: 22px;
} 
/* hamburgerlijn voor aanklikken*/

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
/* hoe ver de bovenste lijn van de middelste staat */
.hamb-line::before{
    top: 0.5em;
}
/* hoe ver de onderste lijn van de middelste staat */
.hamb-line::after{
    top: -0.5em;
}
/* verberg checkbox */
.side-menu {
    display: none;
} 
/* als het menu wordt aangeklikt gaat de nav over de hele pagina*/
.side-menu:checked ~ nav{
    max-height: 100%;
}

/* middelste streep in menu wordt transperant als menu is aangeklikt */
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
/* wanneer menu aangeklikt gaat onderste streep -45graden draaien */
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
    
}

/* wanneer menu aangeklikt gaat bovenste streep -45graden draaien */
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* side menu uitgeklapt */
header nav{
    width: 100%;
    height: 100%;
    position: fixed; 
    background-color: var(--white);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    top:80px; 
    padding: 0 24px;

}  

header nav ul{
    list-style: none;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1.875em;;
  
}
header nav ul li a{
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 0 24px 0 0;
    margin-top: 20px;
    color: var(--black);
}
header nav ul li a:hover{
    background-color: var(--gray);
}
header nav>a{
    width: auto;
    position:absolute;
    margin-top: 159.805px;
    margin-bottom: 48px;
    padding: 10px 24px;
    background-color: var(--green);
    font-size: 12px;
    color: var(--black);
    border-radius: 25px;
    border: 1px solid var(--green);
    text-decoration: none;
    font-family: Poppins, Helvetica, sans-serif;
}
/* page wrapper */
main{
    display: flex;
    flex-direction: column;
}

/* hide kopje, zodat de section wel een kop heeft */
main section:first-of-type h1{
    display: none;
}
/*achtergrond hero img*/
main section:first-of-type img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    top: 0;
}
/* Ride green text   */
main h1 {
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:100;
    font-size: 1.875em;
    color: var(--white);
    position:absolute;
    top: 7.2em;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* container content op hero img */
/* positie van buttons */
main section:nth-of-type(2) ul{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 0.75em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 17.3em;
}

main section:nth-of-type(2) li{
    list-style: none;
}

main section:nth-of-type(2) li a{
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:100;
    font-size: 0.75em;
}
main section:nth-of-type(2) li:nth-of-type(1) a{
    color: var(--white);
    border:1px solid var(--white);
    padding: 10px 20px 10px 20px;
}

main section:nth-of-type(2) li:nth-of-type(2) a{
    color: var(--black);
    border:1px solid var(--green);
    background-color: var(--green);
    padding: 10px 25px 10px 25px;
}

/* 2e deel van pagina (derde section) */
/* container van pagina deel 2 */
main section:nth-of-type(3){
    background-color:var(--white);
    margin-bottom:3.5em;
    margin-top: 37em;
    
 }
/* bovenste kopjes bij elke section */
main section h2{
    font-size: 1em;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--green);
    text-align: center;
    margin-top: 5em;
    line-height: 1.6;
    
}
/* tweede kopje bij elke section */
main section h3{
    font-size:1.875em;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:400;
    color: var(--black);
    text-align: center;
    line-height: 1.6;
    
    }
/* container van beide vehicles opties */
main section:nth-of-type(3) ul{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    gap: 10px;
    align-items: center;

}
/* containers van 1 vehicles optie */
main section:nth-of-type(3) li{
    width: 20.4em;
    background-color: var(--gray);
    border-radius: 20px;
    list-style: none;
    
}
/* afbeeldingen van vehicles opties */
main section:nth-of-type(3) li img{
    width: 8em;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}

/* linkjes naar soort vehicle + kopje */
main section:nth-of-type(3) a{
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.28em;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight:200;
}

/* kopje eletric bike align maken met kopje electric scooter */
main section:nth-of-type(3) li:nth-of-type(2) a{
    margin-left: 5px;
}

/* 3e deel van pagina (vierde section) */
/* container van pagina deel 3 */
main section:nth-of-type(4){
    background-color:var(--gray);
 }
/* style van h2 en h3 bij regel 241 tm 257 */
/* cards met stappenplan voor app */
 main section:nth-of-type(4) ul{
    width: auto;
    margin-top: 2.5em;
	padding:0;
    list-style:none;
    display:flex;
    flex-direction:column; 
    gap: 0.5em;
    align-items: center;
    margin-bottom:3.5em;
 }
/* uiterlijk van elke img in de cards */
 main section:nth-of-type(4) ul li img{
    width: 20.438em;
    border-radius: 15px 15px 0 0;
    text-decoration: none;
    grid-column-start:1;
    grid-column-end:-1;
 }
/* grid container voor cards  */
 main section:nth-of-type(4) ul li{
    width: 20.438em;
    background-color: var(--white);
    border-radius: 15px;
    list-style: none;
    align-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
 }
 /* padding aan tekst gedeelte van de cards */
 main section:nth-of-type(4) ul li h4 + p {
    padding: 1.5em;
 }
 /* stap van how to use (in de cards) */
 main section:nth-of-type(4) ul li h4{
    color: var(--green);
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1em;
    font-weight:200;
    margin-left: 1em;
 }
 /* uitleg how to use (in de cards) */
 main section:nth-of-type(4) ul li p{
    grid-column-start:2;
    grid-column-end:5;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 0.75em;
    color: var(--black);
    margin-left: 2em;
 }
/* 4e deel van pagina (vijfde section) */
/* container van pagina deel 4 */
main section:nth-of-type(5){
    background-color:var(--white);
    padding:48px 0 48px 0;
 }
/* style van h3 bij regel 241 tm 257 */
/* h2 van section 5 heeft andere margin-top */
main section:nth-of-type(5) h2{
    font-size: 1em;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--green);
    text-align: center;
    line-height: 1.6;
    margin-top: 0;
    
}
/* carousel container */
main section:nth-of-type(5) ul{
    margin: 40px 0 20px 0 ;
	padding:0 1.5em 0 1.5em;
	list-style:none;
	
	display:flex;
	gap:0.5em;
	
	overflow-x:scroll;
    overflow-y:hidden;
    scroll-snap-type: x mandatory;
	
	scroll-behavior:smooth;
}
/* container van elke card */
main section:nth-last-of-type(5) ul li{ 
    flex-shrink:0;
	scroll-snap-align: center;
}

main section:nth-of-type(5) ul li > a{
    display: none;
}

main section:nth-of-type(5) ul li img{
    width: 19.938em;
    height: auto;
    border-radius: 15px;
    text-decoration: none;
}

main section:nth-of-type(5) ul li p{
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1em;
    margin: 12px 0 0 0 ;
}
/* dots to move carousel */
main section:nth-of-type(5) a{
    
    display:inline-block;
	width:0.625em;
	height:0.625em;
	border-radius:50%;
	margin:0.375em;
	background-color:var(--gray);
	overflow:hidden;
	color:transparent;

}
main section:nth-of-type(5) > a:first-of-type{
    margin-left: 50%;
}

/* 5e deel van pagina (zesde section) */
/* container van pagina deel 5 */
main section:nth-of-type(6){
    background-color:rgb(26 26 26);
    padding:3em 0 3em 0;
 }

 /* kopje Lime times blog */
 main section:nth-of-type(6) h2{
    margin: 1.5em 0 0 0 ;
 }
/* kopje our latest news */
 main section:nth-of-type(6) h3{
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 100;
    color: var(--white);
    text-align: center;
    line-height: 1.6;
    margin: 4px 0 0 0;
}
/* container van alle cards */
main section:nth-of-type(6) ul {
    display: flex;
    gap:0.5em;
    margin: 40px 0 56px 0 ;
    padding:0 1.5em 0 1.5em;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;

}
/* Card styling */
main section:nth-of-type(6) ul li {
    list-style: none;
    background-color: var(--black);
    border-radius:15px;
    width: 19.938em;
}
/* tekst op cards styling */
main section:nth-of-type(6) ul li p{
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: var(--white);
    padding:36px 48px 44px;
}
/* foto's op card styling  */
main section:nth-of-type(6) ul li img{
    width: 19.938em;
    height: auto;
    border-radius: 15px 15px 0 0;
}
/* pijlen op cards styling  */
main section:nth-of-type(6) ul li img:nth-of-type(2){
   width: 30px;
   height: 30px;
   padding: 10px;
   margin:0 0 1.7em 3em;
   border-radius: 50%;
   border: 0.5px solid white;
}
/* view more button styling  */
main section:nth-of-type(6) > a {
   padding: 10px 24px 10px 24px;
   background-color: var(--green);
   font-family: Poppins, Helvetica, sans-serif;
   font-weight: 200;
   font-size: 12px;
   color: var(--white);
   text-decoration: none;
   border-radius: 25px;
}

/* 6e deel van pagina (zevende section) */
/* container van pagina deel 6 */
main section:nth-of-type(7){
    background-color:rgb(24 24 24);
    padding:7em 0 6em 0;
}
/* positie en grootte van mobile image  */
main section:nth-of-type(7) > img{
width: 279px;
height: auto;

display: block;
margin-left: auto;
margin-right: auto;
}
/* verandering van h2 styling  */
main section:nth-of-type(7) h2{
    font-size: 30px;
    color: var(--white);
    text-align: left;
    margin-left: 1.25em;
    margin-top: 1.25em;
}
/* container van afbeeldingen */
main section:nth-of-type(7) ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.5em;
    margin-top: 1.25em;
    margin-left: 1.25em;
}
/* grotte eerste image, app store */
main section:nth-of-type(7) ul li:first-of-type img{
    height: 50px;
}
/* grootte tweede image, play store */
main section:nth-of-type(7) ul li:nth-of-type(2) img{
    width:190px;
}

/* footer container */
footer{
    background-color:var(--black);
    padding: 4em 1.5em 2.5em 1.5em;
}

/* container 2e ul in nav  */
footer nav>ul:nth-of-type(2){
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 2em;
    margin-bottom: 6em;
    gap: 0.75em;
}
/* logo image style  */
footer nav>a img{
    width:6em;
    height:2.133em;
    margin-bottom:3.5em ;
}

  /* direct cild nav container */
footer nav>ul{
  width: 20.438em;
  height: auto;
  margin-top: 1.5em;
  list-style:none;
  
  }
  /* p in eerste ul in eerste li van nav direct child */
footer nav>ul li ul:first-of-type p{
  font-size: 30px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 200;
  color: white;
  }
  /* container van hoofdkopje en pijl *//* eerste ul in eerste li van nav direct child*/
footer nav>ul li ul:first-of-type {
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  /* pijl up*/
.arrow{
   border: solid white;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 4px;
   transform: rotate(-135deg);
  }
  
  /* 2e ul in eerste li van nav direct child*//*lijst laten zien door display none te verwijderen*/
footer nav>ul li ul:nth-of-type(2){
    width:327px;
    height: auto;
    padding: 1.5em 0 1.5em;
    display:flex;
    flex-direction:column;
    gap:1em;
  }
  /* styling van uitgeklapte lijst */
footer nav>ul li ul:nth-of-type(2) a{
    list-style:none;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size:16px;
    color:gray;
    text-decoration:none;
  }

/*hide van lijst*/
nav>ul li ul:nth-of-type(2) li{
    display:none;
  }
/* hoofdkopjes in nav  */
footer nav>ul:first-of-type li p, footer nav>ul:first-of-type li a{
font-size: 30px;
font-family: Poppins, Helvetica, sans-serif;
font-weight: 200;
color: var(--white);
text-decoration: none;

}

/* social media images style  */
footer nav>ul:nth-of-type(2) li a img{
    width: 32px;
    height:32px;
}
/* 2022 Lime styling */
footer nav>p {
    color: var(--white);
    padding:0 0 0.5em;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
}
/* linkjes cluster onderaan de pagina container  *//* 3e ul in nav*/
footer nav>ul:nth-of-type(3){
    width:327px;
    height:102px;
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    gap: 1em;
}

/* stijlen van list items  */
footer nav>ul:nth-of-type(3) li{
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
}
/* linkjes stijlen in 3e ul */
footer nav>ul:nth-of-type(3) li a{
    margin-top: 1em;
    margin-right: 1.5em;
    text-decoration: none;
    color: white;
}